<div id="scroller">
	<section class="promotion-main" id="scroller-inner" ng-show="StatePromotionMain">
		<ul class="promotion-store-list">
			<li ng-repeat="promotion in promotions">
				<a href="#/store/{{promotion.shopId}}">
					<div>
						<img class="store-img" ng-src="{{promotion.logo}}" width="57" height="38">
						<p class="store-tit {{promotion.shopName | tostoreNameLine:54}}">{{promotion.shopName | tostoreNameLen:50}}</p>
					</div>
					<div class="store-tip"><i></i>{{promotion.promotionInfo}}</div>
					<ul class="promotion-goods-list">
						<li ng-repeat="product in promotion.productList" ng-if="$index < 3">
							<p><img class="goods-img" ng-src="{{product.imageUrl}}" wxy-on-finish-render-promotion></p>
							<p class="goods-price"><span>￥{{product.originPrice | number}}</span><i class="{{product.promotionPrice | wxyToPromotionPrice}}">￥{{product.promotionPrice}}</i></p>
						</li>
					</ul>
				</a>
			</li>
		</ul>
		<div id="shop-list-pullDown" class="none">下拉准备刷新...</div>
	</section>
</div>
<!-- 刷新 -->
<section class="spin_refresh" ng-show="StatePromotionRefresh">
	<i class="icon-spin animate-spin"></i>
</section>