@charset "utf-8";

.modal-mask {
	display: none;
	z-index: $zindex-modal-mask;
	position: fixed;
	background-color: $modal-mask-bg;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	@include opacity($modal-backdrop-opacity);
}
.modal {
	display: none;
	z-index: $zindex-modal;
	position: fixed;
	max-width: $modal-max-width;
	min-width: $modal-min-width;
	border: 1px solid;
	border-color: $modal-border-color;
	background: $modal-bg;
	font-size: $font-size-base;
	@include border-radius(3px);
	@include box-shadow(0, 0, 2px, rgba(0, 0, 0, .2));
}
.modal-head {
	background: $modal-header-bg;
	height: $modal-header-height;
	line-height: $modal-header-height;
	//border-bottom: 1px solid;
	//border-color: $modal-header-border-color;
	cursor: move;
	@extend %clearfix;
}
.modal-tit {
	float: left;
	padding-left: $modal-body-padding;
	line-height: $modal-header-height;
	font-size: $font-size-base;
	font-family: 'Microsoft YaHei';
}
.modal-close {
	float: right;
	width: $modal-header-height;
	height: $modal-header-height;
	text-align: center;
	font-size: 18px;
	font-family: arial;
	font-weight: 700;
	color: #999;
	cursor: pointer;
}
.modal-close:hover {
	color: #666;
}
.modal-body {
	line-height: 1.6;
}
//.modal-body-inner {
//	padding: $modal-body-padding;
//}
.modal-foot {
	padding-right: $modal-body-padding;
	padding-bottom: $modal-body-padding;
	text-align: right;
	font-size: 0;
}
.modal-foot input[type="button"] {
	@extend %dib-in;
	margin-left: 5px;
	padding: 4px 8px;
	text-align: center;
	border: 1px solid;
	background: $state-info-bg;
	font-size: 12px;
	color: #FFF;
	cursor: pointer;
	@include border-radius(2px);
}
.modal-foot input[type="button"].modal-foot-button {
	border-color: $state-info-border;
	color: $state-info-text;
}
.modal-foot input[type="button"].modal-foot-button.gray {
	border-color: $state-gray-border;
	background: $state-gray-bg;
	color: $state-gray-text;
}

// 动画
.modal-scale,
.modal-scale2x,
.modal-slideright,
.modal-slidetop {
	//@include transition-property(transform);
	-webkit-transition-property:-webkit-transform, opacity;
	-moz-transition-property:-moz-transform, opacity;
	-ms-transition-property:-ms-transform, opacity;
	transition-property:transform, opacity;
	@include transition-duration(.3s);
}
.modal-scale {
	@include scale(0.1);
	@include opacity(0);
}
.modal-scale2x {
	@include scale(2);
	@include opacity(0);
}
.modal-slideright {
	@include translate(20%);
	@include translate(cubic-bezier(0.25, 0.5, 0.5, 0.9));
	@include opacity(0);
}
.modal-slidetop {
	@include translate(0, -500px);
	@include translate(cubic-bezier(0.25, 0.5, 0.5, 0.9));
	@include opacity(0);
}
.modal-scale2x.modal-animate,
.modal-scale.modal-animate {
	@include scale(1);
	@include opacity(100);
}
.modal-slideright.modal-animate {
	@include translate(0);
	@include opacity(100);
}
.modal-slidetop.modal-animate {
	@include translate(0);
	@include opacity(100);
}
