@charset "utf-8";

.waterfall {
	position: relative;
	margin: 0 auto;
	/*width: 960px;*/
}
.waterfall > ul {
	vertical-align: top;
	font-size: 0;
}
.waterfall-pin {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;

	width: 182px;
	border:1px solid #ccc;
	box-shadow: 0 0 6px #ccc;
	border-radius: 3px;
	font-size: 14px;
}
.waterfall-box {
	padding: 10px;
}
.waterfall-box-img {
	width:100%;
	height:auto;
}
.wookmark-placeholder {
	border-radius: 3px;
	background: #EFEFEF;
}

.waterfall textarea {
	width: 100%;
}