@charset "utf-8";

@import '_placeholders_reset.scss';

// clearfix
%clearfix {
	&:before,
	&:after {
		content: ".";
		display: block;
		height: 0;
		line-height: 0;
		visibility: hidden;
	}
	&:after {
		clear: both;
	}
}

// hide
%hide {
	display: none;
}

// display:inline-block
%dib-in {
	display: inline-block;
	vertical-align: top;
}
%dib-out {
	vertical-align: top;
	font-size: 0;
	letter-spacing: -1px;
	word-spacing: -1px;
}

// text-overflow
%text-overflow {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

// sr-only
%sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}